__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.vscode/
.env
.env.local


*.sqlite3
*.db

*.log
*.bak
*.swp
*.tmp
*.csv
*.xlsx
*.docx
*.pptx

staticfiles/
media/

# Conda environment
env/
venv/
.conda/

**/migrations/*.pyc
**/migrations/__pycache__/

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
