__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.vscode/
.env

*.sqlite3
*.db

*.log
*.bak
*.swp
*.tmp
*.csv
*.xlsx
*.docx
*.pptx

staticfiles/
media/

**/migrations/*.pyc
**/migrations/__pycache__/

.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
