{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="card text-center login-box">
        <div class="card-body">
            <h4 class="card-title">Password Reset</h4>
            <p class="card-text">Enter your email to reset your password</p>
            <form method="post">
                {% csrf_token %}
                <div class="m-4">
                    <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                </div>
                <div class="m-4">
                    <button type="submit" class="btn mybtn">Reset</button>
                </div>
            </form>
            <a href="{% url 'login' %}" class="mylink" >Log in</a> | <a href="{% url 'registration_register' %}" class="mylink">Sign up</a>
        </div>
    </div>
</div>
{% endblock %}